.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: var(--input-base-height);
  font-size: var(--font-size-sm);
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--border-radius);
  text-decoration: none !important;
  transition:
    background-color 0.2s,
    transform 0.1s;
  cursor: pointer;
  &:hover:not(.disabled) {
    background-color: var(--color-primary-dark);
    color: var(--color-background);
  }
  &:active:not(.disabled) {
    transform: translateY(1px) scale(0.98);
  }
  &.dark {
    background-color: var(--color-primary-dark);
    color: var(--color-background);
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-background);
    }
  }
  &.inverted {
    background-color: var(--color-background);
    color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
    font-weight: 600;
    &:hover:not(.disabled) {
      background-color: var(--color-primary-dark);
      color: var(--color-background);
      border-color: transparent;
    }
  }
  &.inverted-dark {
    background-color: var(--color-background);
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    font-weight: 600;
    &:hover:not(.disabled) {
      background-color: var(--color-secondary);
      color: var(--color-background);
      border-color: transparent;
    }
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
