.header {
  margin-bottom: var(--spacing-4);
  text-align: center;
  color: var(--color-primary-dark);
  font-family: var(--font-family-secondary);
  h1 {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-size-5xl);
  }
  span {
    font-family: var(--font-family);
    color: var(--color-text-muted);
    font-size: var(--font-size-mg);
  }
}
